body {
    font-family: arial, sans-serif;
}

nav {
    position: absolute;
    display: inline-block;
    background-color: #f2f2f2;
    top: 0px;
    left: 0px;
    width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

input[type="search"] {
    display: block;
    position: absolute;
    width: 550px;
    height: 40px;
    border: 1px solid LightGray;
    font-size: 16px;
    top: 10px;
    left: 150px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}

.active {
    color:#4285f4 !important;
    border-bottom: #4285f4 3px solid;
    font-weight: bold;
}

#hr {
    width: 100%;
    height: 1px;
    background: #ebebeb;
    position: relative;
    top: 44px;
}


#brand {
    display: block;
    padding: 15px;
    width: 100px;
}

#mic,
#search {
    display: block;
    position: absolute;
    top: 15px;
    width: 30px;
}

#mic {
    left: 670px;
}

#search {
    display: block;
    background: #4285F4 url('../images/magnifying.png') no-repeat center;
    background-size: 30px auto;
    left: 700px;
    top: 10px;
    width: 34px;
    height: 30px;
    border: 5px solid #4285F4;
    border-radius: 0px 2px 2px 0px;
}

#symbolnav {
    display: block;
    position: absolute;
    width: 180px;
    left: 1140px;
    top: -5px;
}

#symbolnav li {
    display: inline-block;
    cursor: default;
}

#apps {
    background-image: url('../images/googstuff.png');
    background-position: -132px -42px;
    background-repeat: no-repeat;
    background-origin: content-box;
    display: block;
    position: relative;
    top: 10px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    opacity: 0.5;
}

#apps:hover {
    opacity: 1;
}

#noti {
    background-image: url('../images/googstuff.png');
    background-position: -194px -21px;
    background-color: gray;
    border-radius: 10px 10px;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    top: 2px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#user_initial {
    display: block;
    position: relative;
    background-color: green;
    border-radius: 20px 20px;
    top: -10px;
    width: 40px;
    height: 40px;
}

#user_initial>span {
    display: block;
    position: relative;
    color: white;
    top: 9px;
    text-align: center;
    font-size: 18px;
}

#tab-contents {
    display: block;
    position: relative;
    top: 60px;
}

#tab-contents ul li {
    font-size: 14px;
    color: #999;
    display: inline-block;
    padding: 10px;
    padding-bottom: 20px;
}

#tab-contents ul {
    margin-left: 100px;
}
#result_count{
    display: block;
    position: relative;
    color: #999;
    font-size: 13px;
    top: 60px;
    left: 150px;
    width: 20%;
}
#related_search{
    display: block;
    position: relative;
    width: 40%;
    border-top: solid #ebebeb 1px;
    border-bottom: solid #ebebeb 1px;
    left: 150px;
    top:100px;
}
#related_search h3{
    color: #808080;
    position: relative;
    width: 100%;
}
.top_result{
    position: relative;
    top:70px;
    width: 50%;
    height: 330px;
    left: 150px;
    border-bottom: solid #ebebeb 1px;
}
.more_results{
    display: block;
    position: relative;
    top:70px;
    width: 50%;
    left: 150px;
    
}
.top_result_title, .link_title, .top_more_results, .result_title, .related_links{
    color:#1a0dab;
    font-weight: normal;
}
.top_desc, .link_desc, .desc{
    color:#6a6a6a;
}
.top_desc, .desc{
    position: relative;
    top:-65px;
    font-size: 14px;
}
.desc{
    font-size: 12px !important;
    width: 80%;
}
.link_desc{
    font-size: 12px;
    width: 80%;
    display: block;
    position: relative;
    top: -25px;
}
.top_result_url, .result_url{
    font-size: 14px;
    font-weight: normal;
    color:#006621;
    position: relative;
    top:-35px;
}
.sublinks_main{
    position: relative;
    width: 100%;
}
.links_container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    margin-left: 20px;
    top: -100px;
}
.link{
    display: block;
    position: relative;
    width: 50%;
    padding-right: 40px;
    margin-bottom: -50px;
}
.top_more_results{
    position: relative;
    top:-100px;
    margin-left: 20px;
}
.result_item{
    display: block;
    position: relative;
    height: 80px;
}
#related_links_container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
}
.related_links{
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    position: relative;
    width: 100%;
}